{% extends "wrapper.html" %}
{% load static %}
{% block content %}
  

<main>
<!-- Slider news -->
<div class="container">
  <br><br><br>
  <div class="col xl12 l12 m12 s12">
    <div class="slider">
    <ul class="slides">
      {% for item in home %}
      <li>
        <a href="{{item.get_absolute_url}}">
        <img src="{{item.image.url}}">
        </a> <!-- random image -->
        <div class="caption center-align">
          <h3>{{item.title}}</h3>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  </div>
</div>
<!-- Ending of slider of news -->


<!-- Latest news -->
<div class="row">  
  <div class="col s12 m12">
    <div style="margin-left:20px;margin-bottom: -20px;border-bottom: 1px solid black;">
        <h4><b>So'ngi Yangiliklar</b></h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    {% for post in posts %}   
    <div class="col xl4 l4 m4 s12">
      <div class="card">
        <div class="card-image">
          <a href="{{post.get_absolute_url}}">
            <img src="{{post.image.url}}">
          <span class="card-title">{{post.title}}</span>
          </a>
        </div>
        <div class="card-content">
          <p>{{post.body|truncatewords:10}}</p>
        </div>
        <div class="card-action">
          <a href="{{post.get_absolute_url}}"><i class="fas fa-user">{{post.author}}</i></a>
          <a href="{{post.get_absolute_url}}"><i class="fas fa-clock">{{post.published}}</i></a>
          <a href="{{post.get_absolute_url}}"><i class="fas fa-eye">{{post.views}}</i></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- Ending of Latest news -->

<!-- Top news -->
<div class="row">  
  <div class="col s12 m12">
    <div style="margin-left:20px;margin-bottom: -20px;border-bottom: 1px solid black;">
        <h4><b>Top Yangiliklar</b></h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    {% for top in tops %}
    <div class="col xl4 l4 m4 s12">
      <div class="card">
        <div class="card-image">
          <a href="{{top.get_absolute_url}}">
          <img src="{{top.image.url}}">
          <span class="card-title">{{top.title}}</span>
          </a>
        </div>
        <div class="card-content">
          <p>{{top.body|truncatewords:20}}</p>
        </div>
        <div class="card-action">
          <a href="#"><i class="fas fa-user">{{top.author}}</i></a>
          <a href="#"><i class="fas fa-clock">{{top.published}}</i></a>
          <a href="#"><i class="fas fa-eye">{{top.views}}</i></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- Ending of Top news -->

<!-- Other news -->
<div class="row">  
  <div class="col s12 m12">
    <div style="margin-left:20px;margin-bottom: -20px;border-bottom: 1px solid black;">
        <h4><b>Boshqa Yangiliklar</b></h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col xl6 l6 m6 s12">
      <div class="row">
      {% for item in home %} 
      <div class="card">
        <div class="card-image">
          <a href="{{item.get_absolute_url}}">
          <img src="{{item.image.url}}">
          <span class="card-title">{{item.title}}</span>
          </a>
        </div>
        <div class="card-content">
          <p>{{item.body|truncatewords:20}}</p>
        </div>
        <div class="card-action">
          <a href="#"><i class="fas fa-user">{{item.author}}</i></a>
          <a href="#"><i class="fas fa-clock">{{item.published}}</i></a>
          <a href="#"><i class="fas fa-eye">{{item.views}}</i></a>
        </div>
      </div>
     {% endfor %}
      </div>
    </div>
<div class="col xl6 l6 m6 s12">
  <div class="row">
  <div class="card-panel z-depth-3" id="categoryTag">
    <div class="header">
      <h4><b>Kategoriyalar</b></h4>
    </div>
<!-- Category -->
  <div class="collection">
    {% for category in categories %}
    <a href="{% url 'main:category_detail' category.slug %}" class="collection-item"><b>{{category.name}}</b></a>
    {% endfor %}
  </div>
  </div>
<!-- Ending of Category -->

<!-- Tags -->
  <div class="card-panel z-depth-3" id="categoryTag">
    <div class="header">
      <h4><b>Teglar</b></h4>
    </div>
  <div class="row">  
    {% for tag in tags %}
      <a href="{{tag.get_absolute_url}}" class="btn">{{tag.name}}</a>
    {% endfor %}
  </div>
  </div>
<!-- Ending of Tags -->
  

  <h4 class="center"><b>Andijon:</b></h4>
  <a href="https://clck.yandex.ru/redir/dtype=stred/pid=7/cid=1228/*https://yandex.uz/pogoda/10335" target="_blank"><img src="https://info.weather.yandex.net/10335/2_white.ru.png?domain=uz" border="0" alt="Яндекс.Погода"/><img width="5" height="5" src="https://clck.yandex.ru/click/dtype=stred/pid=7/cid=1227/*https://img.yandex.ru/i/pix.gif" alt="" border="0"/></a>
</div>
<!-- Ending of Other news -->

<!-- All News -->
<br><br><br><br><br><br><br>
<div class="card-panel z-depth-3" id="categoryTag">
  <div class="header"><h4><b>Boshqa maqolalar</b></h4></div>
  <div class="row">
    <ul class="collection">
      {% for posts in all_post %}
      <li class="collection-item"><h6><b><a href="{{posts.get_absolute_url}}">{{posts.body|truncatewords:20}}</a></b></h6></li>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- Ending of All News -->

</div>
</div>

</main>

{% endblock %}

  </body>
</html>
