{% extends "wrapper.html" %}
{% block content %}
 
<main>

    <div class="row">
      <div class="col s10 m10">
        <div style="margin-left:20px;margin-bottom: -20px;border-bottom: 1px solid black;">
        <h4><b>{{posts.tag.name}}</b></h4>
    </div>
      </div>
    </div>

<div class="container">
  <div class="row">
    {% for item in posts %}   
    <div class="col xl4 l4 m4 s12">
      <div class="card">
        <div class="card-image">
          <a href="{{item.get_absolute_url}}">
            <img src="{{item.image.url}}">
          <span class="card-title">{{item.title}}</span>
          </a>
        </div>
        <div class="card-content">
          <p>{{item.body|truncatewords:20}}</p>
        </div>
        <div class="card-action">
          <a href="{{item.get_absolute_url}}"><i class="fas fa-user">{{item.author}}</i></a>
          <a href="{{item.get_absolute_url}}"><i class="fas fa-clock">{{item.published}}</i></a>
          <a href="{{item.get_absolute_url}}"><i class="fas fa-eye">{{item.views}}</i></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

</main>

{% endblock  %}